<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <% for (const greet of greets) { %>
      <li>
        <b><%= greet.id %></b>
        <p
          class="greet-message"
          style="
            display: inline-block;
            margin-top: 2px;
            margin-bottom: 2px;
            cursor: pointer;
          ">
          <%= greet.message%>
        </p>
      </li>
      <% } %>
    </ul>
    <script src="/greeting-click-event.js" defer></script>
  </body>
</html>
